alembic
asgi_lifespan
argon2_cffi
asyncio
asyncpg
bcrypt==4.0.1
black
colorama
email-validator
fastapi
greenlet
httpx
isort
loguru
mypy
passlib==1.7.2
pathlib
pre-commit
python-dotenv
python-decouple
python-jose
python-slugify
pytest
pytest-asyncio
pytest-cov
pytest-xdist
SQLAlchemy>=2.0.0
trio
uvicorn
pydantic==1.10.24
